.pajarito {
    color: inherit!important;
    margin: -1px 0 -1px -3px;
    padding: 1px 0 1px 3px;
    border-radius: 3px;
    transition: all 0.2s;
}

.pajarito i {
    display: inline-block;
    margin: 0 3px;
    color: #55ACEE;
    transition: all 0.2s;
    font-size: 110%;
    line-height: inherit;
}

.pajarito:hover {
    text-decoration: none;
    background: #55ACEE!important;
    color: #FFF!important;
}

.pajarito:hover i {
    color: #FFF;
}
